<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="SeleniumPractice.ItestListeners"/>
	</listeners>
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="dataProvider.DeleteCalls"/>
      <class name="dataProvider.APICallsForCreatingProduct"/>
      <class name="dataProvider.RegisterTest"/>
      <class name="dataProvider.LoginTest"/>
      <class name="SeleniumPractice.WindownHandles"/>
      <class name="dataProvider.CreateOrder"/>
      <class name="dataProvider.APICallsForToken"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
